*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button,input{
    border: 0;
    outline: none;
}

body{
    background: #1dd1a1;
}

#username-box{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #222f3e;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    max-width: 400px;
    max-height: 200px;   
    transform: translateX(-50%) translateY(-50%);
}

#username-box h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

#username-box input{
   height: 40px;
   margin: 20px 0px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

#username-box button{
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: 400ms;
}

#username-box button:hover{
    font-size: 16px;
    background: #d9fbee;
}

#username-box p{
    color: red;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
 }

main{
    display: flex;
    margin: 5vh auto;
    flex-direction: column;
    background: #222f3e;
    height: 90vh;
    width: 90%;
    max-width: 800px;
    border-radius: 5px;
}

main #view{
    margin-top: 10px;
    padding: 0px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
}

main #view ul li{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin: 10px 0px;
}

main #view ul li h1{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 4px;
    color: #44bd32;
}

main #view ul li p{
    text-align: justify;
    font-size: 15px;
}

.bot{
    display: flex;
}

.bot span{
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bot p{
    color: red;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.bot p+p{
    margin-left: 5px;
    color: #d9fbee;
    font-weight: normal;
}
main #send-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

main #send-box input{
    flex: 1;
    height: 100%;
    margin: 20px 0px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
 }
 
 main #send-box button{
    height: 100%;
    padding: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: 400ms;
 }

 .hide{
     display: none;
 }

 #view::-webkit-scrollbar {
    width: 8px;
  }
       
#view::-webkit-scrollbar-thumb {
    background: #51575F; 
    border-radius: 10px;
  }

  @media (max-width: 700px){
    main{
        height: 70vh;
    }
  }